<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctor Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="page-bg">
    <div class="doctor-detail-card">

        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsq7MuWV9I6nqpOaRVFIlPv6BW_91fz2tmBNXibate-jewRCtMVQ2Zjq0xBRYwkvJJ5Q8&usqp=CAU" class="doctor-img">

        <h2>Dr. Anika Sharma</h2>
        <p class="speciality">Ophthalmologist</p>

        <p class="bio">
            Dr. Anika Sharma is a skilled ophthalmologist with 9 years of experience
            treating eye conditions, performing surgeries, and providing vision care.
            She prioritizes patient comfort and long-term eye health.
        </p>

        <a href="/appointments" class="btn-primary">
            Book Appointment
        </a>

        <br><br>
        <a href="/doctors">← Back to Doctors</a>

    </div>
</div>

</body>
</html>
