<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctor Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="page-bg">
    <div class="doctor-detail-card">

        <img src="https://www.shutterstock.com/image-photo/indian-female-doctor-checking-medical-260nw-2533944323.jpg" class="doctor-img">

        <h2>Dr. Nisha Kapoor</h2>
        <p class="speciality">Gastroenterologist</p>

        <p class="bio">
            Dr. Nisha Kapoor is a highly skilled gastroenterologist with 11 years of experience
            in treating digestive disorders, liver diseases, and endoscopic procedures.
            She emphasizes patient comfort and accurate diagnosis.
        </p>

        <a href="/appointments" class="btn-primary">
            Book Appointment
        </a>

        <br><br>
        <a href="/doctors">← Back to Doctors</a>

    </div>
</div>

</body>
</html>
