<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctor Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="page-bg">
    <div class="doctor-detail-card">

        <img src="https://media.istockphoto.com/id/1367507209/photo/portrait-of-indian-female-doctor-stock-photo.jpg?s=612x612&w=0&k=20&c=mI-MPGA_bHBLK9D77v8shYOZdI7Pqnlh2_xJE00tUHM=" class="doctor-img">

        <h2>Dr. Aarohi Verma</h2>
        <p class="speciality">Dermatologist</p>

        <p class="bio">
            Dr. Aarohi Verma is a skilled dermatologist with 8 years of experience in
            treating skin, hair, and nail disorders. She focuses on personalized treatment
            plans and maintaining patient confidence and well-being.
        </p>

        <a href="/appointments" class="btn-primary">
            Book Appointment
        </a>

        <br><br>
        <a href="/doctors">← Back to Doctors</a>

    </div>
</div>

</body>
</html>
