<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctor Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="page-bg">
    <div class="doctor-detail-card">

        <img src="https://thumbs.dreamstime.com/b/indian-male-doctor-smiling-front-hospital-young-physician-wearing-white-lab-coat-stethoscope-confidently-camera-406537320.jpg" class="doctor-img">

        <h2>Dr. Rohan Kapoor</h2>
        <p class="speciality">Neurology</p>

        <p class="bio">
            Dr. Rohan Kapoor is a skilled neurologist with expertise in treating
            disorders of the brain and nervous system. He is known for his
            patient-focused approach and precise diagnosis.
        </p>

        <a href="/appointments" class="btn-primary">
            Book Appointment
        </a>

        <br><br>
        <a href="/doctors">← Back to Doctors</a>

    </div>
</div>

</body>
</html>
