<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctor Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="page-bg">
    <div class="doctor-detail-card">

        <img src="https://static.vecteezy.com/system/resources/thumbnails/053/751/782/small/serious-pensive-indian-doctor-bearded-man-wearing-white-coat-stylish-eyeglasses-hands-in-pockets-photo.jpg" class="doctor-img">

        <h2>Dr. Kabir Malhotra</h2>
        <p class="speciality">Orthopedics</p>

        <p class="bio">
            Dr. Kabir Malhotra is an experienced orthopedic surgeon specializing in
            bone, joint, and musculoskeletal care. With 12 years of clinical experience,
            he is dedicated to restoring mobility and improving patient quality of life.
        </p>

        <a href="/appointments" class="btn-primary">
            Book Appointment
        </a>

        <br><br>
        <a href="/doctors">← Back to Doctors</a>

    </div>
</div>

</body>
</html>
