<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login | CareSphere Hospitals</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        .logo{
            font-size: 24px;
            font-weight: bold;
            color: #2788d2ff;
            text-decoration: none;
        }
    </style>
</head>
<body>

<!-- HEADER -->
<header class="navbar">
    <div class="nav-container">
        <a class="logo" >CareSphere Hospitals</a>
        <nav>
            <a href="/">Home</a>
            <a href="/doctors">Doctors</a>
            <a href="/appointments">Appointments</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
            <a href="/register">Register</a>
        </nav>
    </div>
</header>

<div class="page-bg">
    <div class="auth-box">

        <!-- ICON -->
        <div class="auth-icon">
            👤
        </div>

        <h2>Welcome Back!</h2>
        <p class="auth-subtext">Sign in to access your appointments and profile</p>

        <form method="POST" action="/login">

            <label>Email Address</label>
            <input type="email" name="email" placeholder="Enter your email" required>

            <label>Password</label>
            <input type="password" name="password" placeholder="Enter your password" required>

            <div class="auth-row">
                <label class="remember">
                    <input type="checkbox"> Keep me signed in
                </label>
                <a href="#" class="link">Forgot your password?</a>
            </div>

            <button type="submit" class="btn-primary full-btn">
                Login
            </button>
        </form>

        <p class="switch-auth">
            New to CareSphere Hospitals? 
            <a href="/register">Create an account</a>
        </p>

        <div class="divider">Or login using</div>

        <div class="social-buttons">
            <button class="social google">Google</button>
            <button class="social facebook">Facebook</button>
        </div>

    </div>
</div>

</body>
</html>
